@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>ULCScheduler</title>
    <style>
        body
        {
            background-color:#eee;
        }
    </style>

   
</head>
<body>
    
    <div style="height:700px;width:100%;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
</body>

</html>
